@import "tailwindcss";

:root {
  --background: #FDF8F5;
  /* Soft warm cream */
  --foreground: #111111;
  /* Deeper charcoal for better readability */
  --muted: #171616;
  /* Darker gray for better readability */
  --accent: #F373AC;
  /* Dusty pink/rose */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
  --font-sans: var(--font-inter), sans-serif;
  --font-serif: var(--font-playfair), serif;
  --font-script: var(--font-great-vibes), cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Keeping the wedding theme light generally, or adjusting dark mode to be deep burgundy/charcoal */
    --background: #1a1515;
    --foreground: #FDF8F5;
    --muted: #575555;
    --accent: #F06292;
  }
}